server:
  port: 8080

spring:
  application:
    name: pos-client

  file:
    name: C:\\Pos\\logs\\pos.log

eureka:
  client:
    serviceUrl:
      defaultZone: http://192.168.112.245:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${INSTANCE_ID:pos-client}

management:
  endpoints:
    web:
      exposure:
        include: "*"
        exclude: "beans"
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true

info:
  app:
    name: ${INSTANCE_ID:Cliente Caja POS}
    version: 1.0